@model IEnumerable<BetBolao.Models.JogosCompeticao>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdJogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCompeticao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTimeMandante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultadoMandante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTimeVisitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResultadoVisitante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataJogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorarioJogo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdJogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCompeticao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTimeMandante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultadoMandante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTimeVisitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResultadoVisitante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataJogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioJogo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
