
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
teste:
@ViewBag.mensagem


<div class="alinhamentoLeft">
    <b class="">
        esta div terá informações para se cadastrar ou logar no sistema de bolão
    
    </b><br><br><br>
    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.

    <br>
    <br>
    <br>
    <a href="/Usuarios/Participar" class="">Cadastrar</a>
    <br>
    <a href="/Conta/LogOn" class="">Logar</a>
    <br>

    <a href="/Home/HomeUsuario" class="">Home</a>
</div>

<div class="alinhamentoRight">
    <b>esta div terá informações à respeito do bolão. </b><br />
    <br />
    <br/>
    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
    <br />
    <br/>
    teste
    <br />
    
    @Session["Nome"]
    @Session["email"]
    @Session["senha"]
    @Session["id"]
    @Session["dataNascimento"]
    @Session["comentarios"]
    @Session["timeFavorito"]
    @Session["perfil"]
    
</div>